trigger:
  branches:
    include:
    - master
    - feature/*
  tags:
    include:
    - '*'

resources:
  repositories:
    - repository: recommended_practices
      type: github
      name: endjin/Endjin.RecommendedPractices.AzureDevopsPipelines.GitHub
      endpoint: ais-dotnet-github

jobs:
- template: templates/build.and.release.yml@recommended_practices
  parameters:
    vmImage: 'ubuntu-latest'
    service_connection_nuget_org: $(Endjin_Service_Connection_NuGet_Org)
    service_connection_github: $(Endjin_Service_Connection_GitHub)
    solution_to_build: $(Endjin_Solution_To_Build)
    postSpecs:
    - task: DotNetCoreCLI@2
      displayName: 'Run benchmarks'
      inputs:
        command: 'run'
        projects: $(Build.SourcesDirectory)/Solutions/Ais.Net.Benchmarks/Ais.Net.Benchmarks.csproj
        arguments: '--configuration Release --no-build $(Build.SourcesDirectory)/Solutions/Ais.Net.Benchmarks/BenchmarkDotNet.Artifacts $(GitVersion.SemVer)'
    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact: benchmark'
      inputs:
        artifactName: 'benchmark'
        PathtoPublish: '$(Build.SourcesDirectory)/Solutions/Ais.Net.Benchmarks/BenchmarkDotNet.Artifacts/results'

    - bash: |
        wget -q https://github.com/dotnet/docfx/releases/download/v2.45.1/docfx.zip
        unzip docfx.zip -d docfx
        mono docfx/docfx.exe docfx.json
        if ($lastexitcode -ne 0){
          throw ("Error generating document")
        }
      displayName: "docfx build"