<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCop Rules" Description=" " ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!-- StyleCop's insistence that constructors' summaries must always start with exactly
         the same boilerplate text is not deeply helpful. -->
    <Rule Id="SA1642" Action="None" />
  </Rules>
</RuleSet>